<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633060356068-t8oft975bmhffgkfenoa92nagll8fhrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633060356068-t8oft975bmhffgkfenoa92nagll8fhrg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>633060356068-el2b6vrj9dsi0qd7f45bhjfkcoo08sla.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjAtfChjNeyvxMshdysMY5FJszNcQ_yPM</string>
	<key>GCM_SENDER_ID</key>
	<string>633060356068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.carshop</string>
	<key>PROJECT_ID</key>
	<string>carshop-cfec4</string>
	<key>STORAGE_BUCKET</key>
	<string>carshop-cfec4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633060356068:ios:9394957a51250343aee1f1</string>
</dict>
</plist>